@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/styles/fonts.css */

@font-face {
  font-family: "bigger";
  src:
    local("BiggerDisplay"),
    url("./fonts/BiggerDisplay.woff2") format(".woff2");
}
@font-face {
  font-family: "ztbro";
  src:
    local("ZTBrosOskon90s-Light"),
    url("./fonts/ZTBrosOskon90s-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ztbro-i";
  src:
    local("ZTBrosOskon90s-Italic"),
    url("./fonts/ZTBrosOskon90s-Italic.ttf") format("truetype");
}
